/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--general-color: #012;
	--general-background: #fff;

	--header-gradient: #fff;

	--menu-gradient: linear-gradient(#efc1c1, rgb(243, 0, 0));
	--menu-border: #fff;
	--nav-hover: #fff;

	--button-color-header: #fff;
	--button-background-header: rgb(255, 0, 47);

	--pagina1-main-achtergrond: rgb(238, 234, 234);
	--pagina1-div-achtergrond: darkblue;
	--pagina1-text-div: #ddd;
	--pagina1-h3: #012;
	--linkjes: darkred;
	--data: gray;

	--button-color: #fff;
	--button-background-color: darkblue;
	--button-background-focus-color: darkred;
	--button-background-active-color: red;
	--button-border-color: rgba(0, 0, 0, .25);

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media (prefers-color-scheme:dark) {
	:root {
		--general-color: rgb(219, 220, 222);
		--general-background: #2a2a2d;

		--header-gradient: #1c1c1d;

		--menu-gradient: linear-gradient(#1c1c1d, #47474a);
		--menu-border: rgb(209, 135, 135);
		--nav-hover: #1c1c1dff;

		--pagina1-main-achtergrond: rgb(154, 154, 155);
		--linkjes: rgb(236, 179, 179);
		--data: rgb(172, 172, 172);

		--button-background-color: rgb(63, 79, 185);
	}
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
	margin: auto;
	background-color: var(--general-background);
	color: var(--general-color);
	font-family: 'Open Sans', sans-serif;
	max-width: 60em;
}

P,
li {
	line-height: 1.5em;
}


/*************/
/* DE HEADER */
/*************/
header {
	padding: 0 2em;
	background-color: var(--header-gradient);

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	z-index: 1;
}

header a {
	padding: .5em 0;
	color: var(--general-color);
	text-decoration: none;
}


header>a:first-of-type img {
	height: 3em;
}

/*header>button {
	order: -1;
} voor als je de menu en het logo van plek wil laten wisselen*/


nav button {
	/* Sluit button */
	justify-self: start;
}

nav {
	/*menu*/
	padding: 1em;
	display: grid;
	align-content: start;
	gap: 1em;
	font-weight: bold;
	background-image: var(--menu-gradient);

	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	translate: 100% 0%;
	border-radius: 3em;
	transition: translate .5s;
}

nav.toonMenu {
	translate: 60% 0%;
	padding: 1.4em;
}

nav ul {
	list-style: none;
	padding: 0cm;
}

nav a {
	display: flex;
	column-gap: .25em;
	border-bottom: solid 1px var(--menu-border);
}

nav a img {
	width: auto;
	height: 2em;
}

nav li a.active {
	background-color: #fff;
	opacity: 0.8;
	color: darkblue;
	padding-left: 1em;
	padding-right: 1em;
}

nav a:not(.active):hover {
	color: red;
	background-color: var(--nav-hover);
	padding-left: 1em;
}

nav button,
header button {
	min-height: 2em;
	padding: .5em 1em;
	color: var(--button-color);
	background-color: var(--button-background-color);
	border: none;
	border-radius: 1.5em;
	font-size: 1em;
	font-weight: bold;
	transition: .1s;
}

nav button:hover,
nav button:focus-visible,
header button:hover,
header button:focus-visible {
	transform: translatey(-.5em);
	box-shadow:
		0 .5em var(--button-border-color),
		inset 0 0 var(--button-border-color);
	/*???waar staat inset voor*/
}

nav button:hover,
header button:hover {
	cursor: pointer;
}

nav button:focus-visible,
header button:focus-visible {
	background-color: var(--button-background-focus-color);
}

nav button:active,
header button:active {
	background-color: var(--button-background-active-color);

	transform: translatey(0);

	padding-top: .5em;
	box-shadow:
		0 0 var(--button-border-color),
		inset 0 .5em var(--button-border-color);
}

@media (min-width:40em) {

	/*aanpassingen voor groot scherm*/
	header>button {
		display: none;
	}

	nav {
		position: static;
		translate: unset;
		padding: 0;
		background: none;
	}

	nav button {
		display: none;
	}

	nav ul {
		display: flex;
		gap: 3em;
		list-style: none;
		margin: 0;
		padding: 0em;
		padding-right: 1em;
		;
	}

	nav a {
		border: none;
	}

	nav a:not(.active):hover {
		background-color: none;
		padding-left: 0em;
	}
}

/***********/
/* CONTENT */
/***********/
[class="pagina1"] main {
	display: grid;
}

main {
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
	margin: 2em;
}

[class="pagina1"] main {
	display: grid;
}

article:first-child {
	grid-column: 1/-1;
}

[class="pagina1"] article {
	background-color: var(--pagina1-main-achtergrond);
	padding: 0.5em 1em 0.5em 1em;
}

[class="pagina1"] main article:not(:first-of-type) a {
	color: var(--pagina1-main-achtergrond);
}

[class="pagina1"] article:first-of-type {
	background-image: url("../images/AdobeStock_178659557_Preview.jpeg");
	background-size: cover;
	box-shadow: none;
	display: flex;
}

[class="pagina1"] div {
	/*voor het nieuws blokje over de afbeelding pagina 1*/
	background-color: var(--pagina1-div-achtergrond);
	padding: 1em;
	margin: 13em 0em 0em 0em;
	color: var(--pagina1-text-div);
}

main article:first-of-type ul {
	list-style: none;
	padding: 0;
}

main li {
	padding-top: 0.5em;
}

[class="pagina1"] main h2 {
	margin: 0;
}

[class="pagina1"] main article {
	box-shadow: .2em .2em 0 var(--pagina1-main-achtergrond);
}

[class="pagina1"] main article:not(:first-of-type):hover {
	box-shadow: .2em .2em 0 Red;
}

main p:first-child a {
	/*voor de broodkruimel linkjes op pagina 2*/
	color: var(--data);
	text-decoration: none;
}

main p:first-child {
	/*voor de datum op pagina 2*/
	margin-bottom: 0;
	margin-top: 2em;
	color: var(--data);
}

article a {
	/*linkjes in de main pagina 2*/
	color: var(--linkjes);
}

main img {
	/* verkiezingen status pagina 2*/
	width: 100%;
}

[class="pagina1"] img {
	width: auto;
}

[class="pagina1"] main a {
	color: #fff;
}

a:hover {
	color: red;
	text-decoration-style: wavy;
}

h1 {
	font-size: 2em;
}

@media (max-width:360px) {
	h1{
		font-size: 1.8em;
	}
}

h2 {
	font-size: 1.5em;
	margin: 0;
}

h3 {
	margin-bottom: 0;
}

[class="pagina1"] h3 {
	margin: 1em 0;
}

p {
	font-size: 1em;
	margin: 0;
	padding: 0.5rem 0;
}

[class="pagina1"] h3 {
	color: var(--pagina1-h3);
}

article ul {
	margin: 0;
	list-style-type: circle;
}

@media (min-width:30em) {
div div{
	display:grid; 
	 grid-template-columns:1fr 1fr; 
	 gap:2em; 
   }
   
   article:first-child, article:nth-of-type(4), article:last-of-type  {
	 grid-column:1/-1; 
   } 

}

@media (min-width:47.5em) {

	main>div {
		position: relative;
		display: flex;
	}

	main div img {
		position: sticky;
		max-width: 22em;
		height: auto;
		top: 5em;
		align-self: flex-start;
	}

	div div {
		margin-left: 1em;
	}

	div article:first-of-type p {
		margin-top: 0;
	}

}

article h1 {
	text-align: center;
}

[class="pagina1"] article:first-of-type :focus {
	border: solid 2px red;
}

:focus:not([class="pagina1"] article a) {
	border: solid 2px darkblue;
}

:focus {
	outline: none;
	border-radius: 1em;
	padding: 0.2em 0.5em;
}

[class="pagina1"] article:not(:first-of-type):focus-within {
	outline: 2px solid red;
}



/*******************/
/* footer */
/*******************/

footer {
	overflow: hidden;
	margin: 2em;
	padding-top: 2em;
}

footer p {
	margin: 0.5em 0;
}

input:first-of-type {
	padding: 1em;
	font-size: 1em;
	background: #ddd;
	border: none;
	border-radius: 1.5em;
	min-width: fill;
	margin-left: 0.2em;
	flex-grow: 1;
}

input:last-of-type {
	min-height: 3em;
	padding: .25em 1em;
	color: var(--button-color);
	background-color: var(--button-background-color);
	border: none;
	border-radius: 1.5em;
	font-size: 1em;
	font-weight: bold;
	margin-left: auto;
	transition: .1s;
}

input:last-of-type:hover,
input:last-of-type:focus-visible {
	transform: translatey(-.5em);
	box-shadow:
		0 .5em var(--button-border-color),
		inset 0 0 var(--button-border-color);
}

input:last-of-type:hover {
	cursor: pointer;
}

input:last-of-type:focus-visible {
	background-color: var(--button-background-focus-color);
}

input:last-of-type:active {
	background-color: var(--button-background-active-color);

	transform: translatey(0);

	padding-top: .5em;
	box-shadow:
		0 0 var(--button-border-color),
		inset 0 .5em var(--button-border-color);
}

label {
	margin-top: 1em;
}

footer p:last-of-type {
	opacity: .7;
}

form {
	display: flex;
	flex-wrap: wrap;
	gap: 0.9em;
}
